<!--The content below is only a placeholder and can be replaced.-->
<h3>Angular Tests</h3>
<div class="row">
<nav class="col-1-of-3">
  <a routerLink="/agGrid">Angular Grid</a>
</nav>

<nav class="col-1-of-3">
  <a routerLink="/gallery">Gallery</a>
</nav>

<nav class="col-1-of-3">
  <a routerLink="/eventBindingTest">Event Binding Tests</a>
</nav>


</div>
<div class="row">
  <nav class="col-1-of-3">
    <a routerLink="/basicTest">Basic Tests</a>
  </nav>
  <nav class="col-1-of-3">
    <a routerLink="/pipesTest">Pipes Tests</a>
  </nav>
  <nav class="col-1-of-3">
    <a href="https://anjusindhu.github.io/angular-watchlist/">Watchlist</a>
  </nav>
  
  
  
  </div>

<router-outlet></router-outlet>
